<link rel="stylesheet" href="/stylesheets/cssPartials/nav.css">
<!-- Font Awesome -->
<link
href="https://fonts.googleapis.com/css2?family=Anton&family=Dosis:wght@200&family=IBM+Plex+Sans:ital,wght@1,200&family=M+PLUS+1+Code:wght@300&family=Roboto:wght@300&family=Rubik:wght@500&family=Shippori+Antique&display=swap"
rel="stylesheet">
<script src="https://kit.fontawesome.com/64cf8f81a0.js" crossorigin="anonymous"></script>
<header>
    <nav class="nav-padre">
        <ul>
            <a href="/" class="link-logo">
                <div class="logo">
                    <img class="logo-image" src="/images/autoVerde.png">
                </div>
            </a>
            <div class="barra-navegacion"><input type="text" name="buscador" id="buscador"><button><i class="fa-sharp fa-solid fa-magnifying-glass"></i></button></div>
            <div class="nav-iconos">
                <a href="/perfil" class=""><li><i class="fa-solid fa-circle-user"></i></li></a>
            </div>

            <button class="icono-menu-mobile"><i class="fa-solid fa-bars"></i>
              <ul class="menu-mobile oculto" id="mobile-menu">
                <a href="/Autos"><li class="">Autos</li></a>
                <a href="/ofertas"><li class="navigaton">Ofertas</li></a>
                <a href="/marcas"><li class="navigaton">Marcas</li></a>
                <a href="/autos/crear"><li class="">Vender</li></a>
                <a href="/"><li class="navigaton"><i class="fa-solid fa-cart-shopping"></i></li></a>
                <a href="/perfil" class="foto-usuario"><li class="navigaton"><i class="fa-solid fa-circle-user"></i></li></a>
              </ul>
            </button>
            
        </ul>
    </nav>

    <!-- <div class="menu-marcas-mobile">
        <ul>
            <% for (let i = 0; i < marcas.length; i++) { %>
                <li><a href="/marcas/<%= marcas[i].id %>"><%= marcas[i].name %></a></li>
            <% } %>
        </ul>
    </div> -->

    <nav class="sub-nav">
        <ul>
            <div class="div-categorias">
                <a href="/ofertas"><li class="">Ofertas</li></a>
                <a><li class="li-marcas">Marcas</li></a>
                <a href="/Autos"><li class="">Autos</li></a>
                <!-- <a href="/autos"><li class="">Autos</li></a> -->
            </div>

            <ul class="ul-register">
                <a href="/user/register"><li class="">Registrarse</li></a>
                <a href="/autos/crear"><li class="">Vender</li></a>
                <a href="" class=""><li><i class="fa-solid fa-cart-shopping"></i></li></a>
                <!-- <a href="/form-login"><li class="">Login</li></a> -->
            </ul>
        </ul>
    </nav>



    <div class="menu-marcas oculto">
        <ul>
            <% for (let i = 0; i < marcas.length; i++) { %>
                <li><a href="/marcas/<%= marcas[i].id %>"><%= marcas[i].name %></a></li>
            <% } %>
        </ul>
    </div>



</header>
<script src="/javascripts/nav.js"></script>