* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #eaebe7;
}

header {
    font-family: 'Roboto', sans-serif;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}
   
.logo {
    width: 100px;
}

.logo-image {
    width: 100%;
}

nav ul {
 display: flex;
 justify-content: space-between;
 align-items: center;
 padding: 0px 5px;
 background-color: #141414;
 border-bottom: 2px solid #2eaf14;
}

.invisible {
    display: none;
}

.barra-navegacion input {
    color: #252525;
    height: 100%;
    width: 140px;
    border: none;
    outline: none;
    padding: 5px;
}

.icono-menu-mobile i {
    font-size: 25px;
}

.icono-menu-mobile {
    background-color: transparent;
    border: none;
}

.barra-navegacion i {
    height: 100%;
    width: 100%;
    margin-top: 2px;
    margin-left: 3px;
    font-size: 16px;
}

.barra-navegacion {
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.barra-navegacion button {
    background-color: transparent;
    border: none;
}

.menu-mobile {
    flex-direction: column;
    position: absolute;
    top: 61px;
    right: 0;
    background-color: #181818;
    border: 2px solid #2eaf14;
    border-top: none;
    width: 300px;
    padding: 0;
    z-index: 999;
}

.menu-mobile a {
    margin: 0;
    font-size: 20px;
    width: 100%;
    padding: 12px 0;
}

.menu-mobile a:hover {
    background-color: #207718;
}

.menu-marcas {
    position: absolute;
    top: -500px;
}

.sub-nav {
    display: none;
}

.nav-iconos {
    display: none;
}

.oculto {
    display: none;
}

/* .menu-marcas-mobile {
    background-color: #2eaf14;
    width: 200px;
    position: absolute;
    top: 59px;
    right: 0%;
    z-index: 999;
}

.menu-marcas-mobile ul li {
    text-align: center;
    font-weight: bold;
    padding: 10px 5px;
}

.menu-marcas-mobile ul li:hover {
    background-color: #207718;
} */

@media (min-width: 450px) {
    .barra-navegacion input {
        width: 250px;
    }
}

@media (min-width: 760px) {
    .barra-navegacion input {
        width: 400px;
    }

    .icono-menu-mobile {
        display: none;
    }

    .invisible {
        display: block;
    }

    .sub-nav {
        display: block;
        height: 35px;
        background-color: #2eaf14;
    }

    .sub-nav ul {
        height: 100%;
        display: flex;
        align-items: center;
        background-color: #2eaf14;
        justify-content: space-between;
    }

    .div-categorias {
        display: flex;
        align-items: center;
        background-color: #2eaf14;
        justify-content: center;
        
    }

    .div-categorias a {
        margin: 0 20px;
    }

    .ul-register a {
        margin: 0 5px;
    }

    .sub-nav ul a {
        font-weight: bold;
        padding: 5px;
        border-radius: 10%;
        transition: all 0.2s ease-out;
    }

    .sub-nav ul a:hover {
        background-color: #207718;
    }

    .nav-iconos {
        display: flex;
    }

    .nav-iconos a {
        margin: 0 10px;
        font-size: 22px;
    }

    .nav-iconos a i:hover {
        color: #2eaf14;
    }

    .li-marcas {
        cursor: pointer;
    }
    
    .li-marcas:hover {
        cursor: pointer;
        
    }
    
    .menu-marcas {
        background-color: #207718;
        width: min-content;
        position: absolute;
        top: 98px;
        left: 110px;
        z-index: 999;
    }
    
    .menu-marcas ul li {
        text-align: center;
        font-weight: bold;
        padding: 10px 5px;
    }
    
    .menu-marcas ul li:hover {
        background-color: #2eaf14;
    }
    
    /* .menu-marcas-mobile {
        position: absolute;
        top: -500px;
    } */
}