<html>
    <head>
        <title>Mi sitio</title>
        <link rel="stylesheet" href="/stylesheets/style.css">
    </head>
    <body>
        <header>
            <p>Mi sitio</p>
            <nav>
                <ul>
                    <li>
                        <a href="/autos/crear">Crear Auto</a>
                    </li>
                    <li>
                        <a href="/autos">Ver Autos</a>
                    </li>
                    <li>
                        <a href="/">homePage</a>
                    </li>
                </ul>
            </nav>
        </header>
<h1>Listado de autos</h1>
<ul>
    <% for (let i = 0; i < autos.length; i++) { %>
        <li>
            <a href="/autos/<%= autos[i].id %>">
                <%= autos[i].model %>
            </a>
        </li>
    <% } %>
</ul>