body {
    background-color: #333;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    min-width: 332px;
}

.main-image {
    position: relative;
    background: url("/images/autos/wp9355769.webp") no-repeat center;
    background-size: cover;
    height: 230px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-image p {
    font-size: 25px;
    font-style: italic;
    font-family: 'Shippori Antique', sans-serif;
    border: 4px solid #fff;
    padding: 0 10px;
    text-shadow: #222 3px 3px;
    box-shadow: 5px 5px #222;
}

.footer {
    position: relative;
    background-color: #000;
    background-size: cover;
    height: 230px;
    overflow: hidden;
    display: flex;
    align-items: end;
    justify-content: center;
}

.footer p {
    position: relative;
    bottom: 10px;
}

.recientes {
    font-weight: bold;
    text-shadow: 3px 3px #207718;
    font-size: 20px;
    margin-top: 20px;
    text-align: center;
}

.autos-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.container {
    min-width: 270px;
    width: 70%;
    max-width: 350px;
    margin: 30px auto;
    background-color: #fff;
    padding: 10px;
    box-shadow: 10px 10px 5px #000;
}

.container:hover {
    box-shadow: 10px 10px 5px #2eaf14;
}

.div-img {
    height: 300px;
    max-height: 220px;
    padding: 5px;
    padding-bottom: 2px;
    
}

.div-img img {
    object-fit: contain;
    height: 100%;
    width: 100%;
}

.datos p {
    color: #000;
    font-weight: bold;
}

.model {
    margin-top: 10px;
    font-family: 'Shippori Antique', sans-serif;
}

.div-precio {
    display: flex;
    margin-top: 5px;
    justify-content: space-between;
    align-items: center;
}

.div-precio .discount {
    color: #2eaf14;
    font-size: 20px;
}


@media (min-width: 450px) {

    .footer {
        margin-top: 20px;
    }

    .recientes {
        font-size: 25px;
        margin-top: 30px;
    }

    .container {
        max-width: 300px;
        margin: 30px 5px;
    }

    .div-img {
        max-height: none;
        height: 200px;
    }

    .div-precio p {
        font-size: 18px;
    }

    .div-precio .discount {
        font-size: 25px;
    }

    
.main-image p {
    font-size: 30px;
}
}

footer .card svg {
    height: 25px;
  }
  
  footer .card {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #e7e7e7;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    overflow: hidden;
    height: 50px;
    width: 200px;
  }
  
  footer .card::before, footer .card::after {
    position: absolute;
    display: flex;
    align-items: center;
    width: 50%;
    height: 100%;
    transition: 0.25s linear;
    z-index: 1;
  }
  
  footer .card::before {
    content: "";
    left: 0;
    justify-content: flex-end;
    background-color: #4d60b6;
  }
  
  footer .card::after {
    content: "";
    right: 0;
    justify-content: flex-start;
    background-color: #4453a6;
  }
  
  footer .card:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }
  
  footer .card:hover span {
    opacity: 0;
    z-index: -3;
  }
  
  footer .card:hover::before {
    opacity: 0.5;
    transform: translateY(-100%);
  }
  
  footer .card:hover::after {
    opacity: 0.5;
    transform: translateY(100%);
  }
  
  footer .card span {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: whitesmoke;
    font-family: 'Fira Mono', monospace;
    font-size: 24px;
    font-weight: 700;
    opacity: 1;
    transition: opacity 0.25s;
    z-index: 2;
  }
  
  footer .card .social-link {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    height: 100%;
    color: whitesmoke;
    font-size: 24px;
    text-decoration: none;
    transition: 0.25s;
  }
  
  footer .card .social-link svg {
    text-shadow: 1px 1px rgba(31, 74, 121, 0.7);
    transform: scale(1);
  }
  
  footer .card .social-link:hover {
    background-color: rgba(249, 244, 255, 0.774);
    animation: bounce_613 0.4s linear;
  }
  
  @keyframes bounce_613 {
    40% {
      transform: scale(1.4);
    }
  
    60% {
      transform: scale(0.8);
    }
  
    80% {
      transform: scale(1.2);
    }
  
    100% {
      transform: scale(1);
    }
  }

@media (min-width: 760px) {
    .container {
        max-width: 250px;
        margin: 40px 10px;
    }

    .recientes {
        font-size: 30px;
        margin-top: 30px;
    }

    .div-precio p {
        font-size: 20px;
    }

    .main-image {
        height: 370px;
    }
    
    .main-image p {
        font-size: 40px;
        border: 7px solid #fff;
    }

    .footer {
        height: 430px;
    }

    .footer p {
        font-size: 20px;
    }
}

@media (min-width: 1460px) {
    .container {
        min-width: 270px;
        width: 70%;
        max-width: 350px;
        margin: 50px 20px;
    }
    .div-img {
        height: 300px;
        max-height: 220px;
        padding: 5px;
        padding-bottom: 2px;
    }
}