* {
    font-family: 'Nunito', sans-serif;
}

body {
    background-color: #333;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    min-width: 332px;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    max-width: min-content;
    margin: 50px auto;
    box-shadow: 10px 10px 5px #000;
}

.container-img {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    margin-bottom: 20px;
    background-image: url(/images/perfil.webp);
    background-size: cover;
    border-radius: 50%;
    border: 1.5px solid #000;
}

.datos .mail {
    background-color: #000;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    font-size: 14px;
}  

.div-img {
    height: 300px;
    max-height: 220px;
    padding: 5px;
    padding-bottom: 2px;
}

.div-img img {
    object-fit: contain;
    height: 100%;
    width: 100%;
}

.datos p {
    color: #000;
    font-weight: bold;
    font-size: 22px;
    text-align: center;
}

.h2-relacionados {
    text-align: center;
    text-shadow: 2px 2px #000;
    background-color: #1b1b1b;
    padding: 10px;
    margin: auto;
}

.div-relacionados {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #bbb;
}

.autos-relacionados {
    min-width: 270px;
    width: 70%;
    max-width: 300px;
    margin: 30px auto;
    background-color: #fff;
    padding: 10px;
    box-shadow: 10px 10px 5px #000;
}

.autos-relacionados .model {
    background: transparent;
}

.autos-relacionados:hover {
    box-shadow: 10px 10px 5px #2eaf14;
}

.autos-relacionados .div-img {
    height: 300px;
    max-height: 220px;
}

.div-precio {
    display: flex;
    margin-top: 5px;
    justify-content: space-between;
    align-items: center;
}

.div-precio .discount {
    color: #2eaf14;
    font-size: 20px;
}

.div-buttom {
    display: flex;
    justify-content: space-between;
    background-color: #ccc;
    align-items: center;
    padding: 8px;
    margin-top: 10px;
}

.borrar {
    color: #fff;
    background-color: #d62424;
    width: 100%;
    padding: 5px;
    text-align: center;
    border: none;
    border-radius: 10%;
}

.borrar:hover {
    cursor: pointer;
    background-color: #b30c0c;
}

.editar {
    color: #fff;
    background-color: #2eaf14;
    width: 100%;
    padding: 5px;
    text-align: center;
    border: none;
    border-radius: 10%;
}

.editar:hover {
    cursor: pointer;
    background-color: #207718;
}

@media (min-width: 450px) {
    .h2-relacionados {
        font-size: 30px;
    }

    .autos-relacionados {
         max-width: 230px;
         margin: 30px 12px;
    }
    
    .autos-relacionados .div-img {
        max-height: 200px;
    }

    .div-precio p {
        font-size: 18px;
    }

    .div-precio .discount {
        font-size: 25px;
    }  
}

@media (min-width: 760px) {
    .autos-relacionados {
        margin: 20px 12px;
   }

   .div-precio p {
    font-size: 20px;
   }

   .container-img {
    width: 220px;
    height: 220px;
   }
}

@media (min-width: 1460px) {
    .autos-relacionados {
        max-width: 320px;
    }
}