* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

body {
   background: #212121;
}

.nav {
    height: 60px;
    background-color: #000;
    border-bottom: 2px solid #77dd77;
    display: flex;
    align-items: center;
}

.logo {
    width: 100px;
}

.logo-image {
    width: 100%;
}

form {
    font-weight: bold;
    margin: auto;
    background: #212121;
    width: 70%;
    min-width: 250px;
    max-width: 400px;
    padding: 26px;
    border-radius: 4%;
    box-shadow: inset 10.21px 10.21px 15px #1A1A1A, inset -10.21px -10.21px 15px #282828;
    text-align: center;
    margin-top: 40px;
}

.form h2 {
    font-size: 2rem;
    margin-bottom: .5em;
    margin-top: 10px;
    color: #fbfbfb;
}

.form p {
    font-weight: 600;
    font-size: 14px;
    color: #fbfbfb;
}

.form p a {
    font-weight: bold;
    color: #000;
    color: #fbfbfb;
}

.form-container {
    margin-top: 3em;
    display: grid;
    gap: 2.5em
}

.form-group {
    position: relative;
    color: #333;
}

.form-input {
    width: 100%;
    background: none;
    border: none;
    font-size: 1rem;
    padding: 10px;
    border-bottom: 1px solid #333;
    outline: none;
    color: #fff;
}

.form-input:focus {
    border-bottom: 2px solid #77dd77;
}

.form-input:focus + .form-label,
.form-input:not(:placeholder-shown) + .form-label {
    transform: translateY(-12px) scale(.7);
    transform-origin: left top;
    color: #77dd77;
}

.form-label {
    position: absolute;
    top: 0;
    left: 5px;
    transform: translateY(10px);
    transition: transform .5s, color .3s;
    color: #fbfbfb;
}

.submit {
    width: 200px;
    height: 60px;
    border: 3px solid #77dd77;
    border-radius: 45px;
    transition: all 0.5s;
    cursor: pointer;
    background: white;
    font-size: 1.2em;
    font-weight: 550;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
  }
  
  .submit:hover {
    border: #30d430;
    color: #fdfdfd;
    font-size: 1.5em;
    color: black;
    background-color: #30d430;
    filter: drop-shadow(0 0 15px #30d430) contrast(2) brightness(2);
  }

.text-danger {
    color: rgb(250, 27, 27);
    margin-top: 5px;
    display: flex;
    font-size: 15px;
}

.label-checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fdfdfd;
}

.checkbox-input {
    margin-right: 5px;
}

/* .submit:hover {
  color: black;
  background-color: #db3eb1;
  filter: drop-shadow(0 0 20px #db3eb1) contrast(2) brightness(2);
} */



@media (min-width: 500px) {
    .form p {
        font-size: 16px;
    }

    .submit {
    width: 300px;
  }
}